body{
    margin: 0;
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.inner-circle{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-family: sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 4s ;
    
    
}
.outer-circle{
    height: 550px;
    width: 550px;
    background: linear-gradient(rgb(0, 0, 0) 20%,rgb(90, 89, 89) 20%,rgb(90, 89, 89) 20%, rgb(90, 89, 89) 20%, rgb(90, 89, 89) 20%);
    border-radius: 50%;
    transition: 4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-circle:hover {
    transform: rotate(360deg);
}
.outer-circle:hover .inner-circle{
    transform: rotate(-360deg);
}
.outer-circle:not(:hover){
    transition: tranform 0s;
}
.outer-circle:not(:hover) .inner-circle{
    transition: tranform 0s;
}